<% taxonomies.each do |taxonomy| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= taxonomy.name %></div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomy.root.children.map do |taxon| %>
            <li>
              <% if taxon.children.blank? %>
              <a href="<%= taxon.id %>" data-toggle="collapse" data-target="#<%= taxon.name %>">
                <% else %>
                <a href="javascropt:;" data-toggle="collapse" data-target="#<%= taxon.name %>">
                  <i class="fa fa-plus"></i>
                <% end %>
                <%= taxon.name %>
              </a>
              <ul id="<%= taxon.name %>" class="collapse collapseItem">
                <% taxon.children.map do |subTaxon| %>
                  <li>
                    <a href="<%= subTaxon.id %>">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= subTaxon.name %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
