<% provide(:title, @taxon.name) %>
<%= render partial: 'layouts/light_section', locals: {title: @taxon.permalink} %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'potepan/categories/taxonomies', locals: {taxonomies: @taxonomies} %>
        <%= render 'potepan/categories/search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filters' %>
        <%= render partial:'potepan/categories/grid', locals: {products: @products} %>
      </div>
    </div>
  </div>
</section>
