<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <% if title.present? && title.include?("/") %>
            <h2><%= title.split("/").last %></h2>
          <% else %>
            <h2><%= title %></h2>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_index_path %>
          </li>
          <% if title.present? && title.include?("/") %>
            <% title.split("/").each do |subTitle| %>
              <li class="active"><%= subTitle %></li>
            <% end %>
          <% else %>
            <li class="active"><%= title %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
