<!DOCTYPE html>
<html>
  <head>
    <title>Potepanec</title>
    <%= render '/layouts/rails_default' %>
    <%= render '/layouts/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render '/layouts/header' %>
      <%= yield %>
      <%= render '/layouts/footer' %>
    </div>
  </body>
</html>
